@import "tailwindcss";

@font-face {
  font-family: sans-light;
  src: url('/fonts/IRANSansX-Light.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: sans-md;
  src: url('/fonts/IRANSansX-Medium.woff2') format("woff2");
  font-display: swap;
}


@font-face {
  font-family: sans-semibold;
  src: url('/fonts/IRANSansX-DemiBold.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: sans-bold;
  src: url('/fonts/IRANSansX-Bold.woff2') format("woff2");
  font-display: swap;
}   

@font-face {
  font-family: sans-extrabold;
  src: url('/fonts/IRANSansX-ExtraBold.woff2') format("woff2");
  font-display: swap;
}


@font-face {
  font-family: sans-black;
  src: url('/fonts/IRANSansX-Black.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: hamrah;
  src: url('/fonts/Hamrah.woff2') format("woff2");
  font-display: swap;
}

.sans-light{
  font-family: sans-light;
}

.sans-md{
  font-family: sans-md;
}

.sans-semibold{
  font-family: sans-semibold;
}

.sans-bold{
  font-family: sans-bold;
}

.sans-extrabold{
  font-family: sans-extrabold;
}


.sans-black{
  font-family: sans-black;
}

.hamrah{
  font-family: hamrah;
}
